
<div class="main">

  <h1><img class="header" src="/images/header.png"></h1>

  <div class="picks">

    <ul class="team1">
      <li>
        <img src="http://localhost:9393/images/AkaliSquare.png" alt="Toplaner">
      </li>

      <li>
        <img src="http://localhost:9393/images/AmumuSquare.png" alt="Jungle">
      </li>

      <li>
        <img src="http://localhost:9393/images/AhriSquare.png" alt="Midlaner">
      </li>

      <li>
        <img src="http://localhost:9393/images/AlistarSquare.png" alt="Support">
      </li>

      <li>
        <img src="http://localhost:9393/images/CaitlynSquare.png" alt="Marksmen">
      </li>
    </ul>

    <ul class="team2">
      <li>
        <img src="http://localhost:9393/images/DrMundoSquare.png" alt="Toplaner">
      </li>

      <li>
        <img src="http://localhost:9393/images/ChoGathSquare.png" alt="Jungle">
      </li>

      <li>
        <img src="http://localhost:9393/images/DianaSquare.png" alt="Midlaner">
      </li>

      <li>
        <img src="http://localhost:9393/images/BlitzcrankSquare.png" alt="Support">
      </li>

      <li>
        <img src="http://localhost:9393/images/DravenSquare.png" alt="Marksmen">
      </li>
    </ul>
  </div>

  <div class="bans">
    <ul class="team1">
      <li>
        <img src="http://localhost:9393/images/CassiopeiaSquare.png">
      </li>

      <li>
        <img src="http://localhost:9393/images/AniviaSquare.png">
      </li>

      <li>
        <img src="http://localhost:9393/images/CorkiSquare.png">
      </li>
    </ul>

    <ul class="team2">
      <li>
        <img src="http://localhost:9393/images/AnnieSquare.png">
      </li>

      <li>
        <img src="http://localhost:9393/images/BrandSquare.png">
      </li>

      <li>
        <img src="http://localhost:9393/images/AsheSquare.png">
      </li>
    </ul>
  </div>

</div>